In [1]:
from structured.DataRetriever import DataRetriever
import numpy as np
import pandas as pd

dt = DataRetriever("D:/Descargas/i2ascii-files/i2ascii-files/", 500)
dt.set_target(['m_elev','m_az'])
dt.set_selected_hits(10)
target, data, compare_data = dt.load_data(
    get_sel_events = False,
    filter_bbfit_null = False,
    get_bbfit_data = True,
    get_aafit_data = True
)

In [11]:
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

var_thresh = VarianceThreshold(threshold=0.3)
var_thresh.fit(data)
print(var_thresh.get_support())

[ True  True  True  True  True  True  True False  True  True  True False]

In [9]:
from sklearn.preprocessing import StandardScaler
data_std = StandardScaler().fit_transform(data)

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [18]:
data.head(5)

,aafit_az,aafit_beta,aafit_elev,aafit_lambda,bbfit_az,bbfit_chi2,bbfit_elev,det_type,trigger_counter,w_1,w_2,w_3
0,2.791342,0.009720,0.827787,-5.109426,2.794801,0.933982,0.843651,1,5,2.379000e+09,2759000.0,1000000.0
1,1.456237,0.020967,0.776675,-5.545071,1.582917,1.369833,0.795489,1,6,1.714000e+09,2740000.0,1000000.0
2,2.260261,0.011747,0.896976,-5.522124,2.225389,1.053378,0.906139,1,10,1.229000e+09,2638000.0,1000000.0
3,-0.710608,0.048666,0.765411,-6.584110,-0.381602,2.027046,0.783040,1,16,1.792000e+09,2856000.0,1000000.0
4,-0.476245,0.013630,0.651254,-5.290570,-0.499170,0.781468,0.649963,1,19,2.126000e+09,2959000.0,1000000.0

In [19]:
pd.DataFrame(data_std).head(5)

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.519803,-0.015693,0.739943,0.765684,1.522885,-0.039273,0.851020,-0.950258,-1.325984,-0.291641,-0.633392,0.0
1,0.784385,0.002675,0.651673,0.156255,0.855049,-0.037376,0.763300,-0.950258,-1.324092,-0.291641,-0.638237,0.0
2,1.227267,-0.012384,0.859433,0.188356,1.209097,-0.038754,0.964834,-0.950258,-1.316523,-0.291641,-0.664246,0.0
3,-0.409183,0.047917,0.632218,-1.297268,-0.227542,-0.034516,0.740626,-0.950258,-1.305170,-0.291641,-0.608658,0.0
4,-0.280088,-0.009307,0.435068,0.512279,-0.292331,-0.039937,0.498245,-0.950258,-1.299494,-0.291641,-0.582393,0.0

In [13]:
data_std_kbest = SelectKBest(f_regression, k=8).fit_transform(data_std, target['m_az'])

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\feature_selection\univariate_selection.py:299: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms
D:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
D:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
D:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1831: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [20]:
pd.DataFrame(data_std_kbest).head(5)

,0,1,2,3,4,5,6,7
0,1.519803,-0.015693,0.765684,1.522885,0.851020,-1.325984,-0.291641,-0.633392
1,0.784385,0.002675,0.156255,0.855049,0.763300,-1.324092,-0.291641,-0.638237
2,1.227267,-0.012384,0.188356,1.209097,0.964834,-1.316523,-0.291641,-0.664246
3,-0.409183,0.047917,-1.297268,-0.227542,0.740626,-1.305170,-0.291641,-0.608658
4,-0.280088,-0.009307,0.512279,-0.292331,0.498245,-1.299494,-0.291641,-0.582393